
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Pacifico&display=swap');

body{
    font-family:"Pacifico", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    
}


#container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: 1px solid red;
    overflow: hidden;
    background-color: #31b6ce;
}


#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #eaeaea;
}


#branch {
    position: absolute;
    
    background-color: #7b2e00;
    top: 23%;
}
.bunny {
    position: absolute;
    top: 10%;
    background: url(../images/bunny.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}


#bunny1{
    left: 20%;
}

#bunny2{
    left: 40%;
}

#bunny3{
    left: 60%;
}

.egg {
    position: absolute;
    top: 18%;
    height: 5%;
    width: 2%;
    background-color:green;
    border-radius: 50%;
    z-index: 99;
}

#easteregg1{
    left: calc(20% + 8%/2 - 2%/2);
}

#easteregg2{
    left: calc(40% + 8%/2 - 2%/2);
}
#easteregg3{
    left: calc(60% + 8%/2 - 2%/2);
}

.bullseye {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background: url(../images/brokenegg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#bunnyeye1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#bunnyeye2{
    left: calc(40% + 8%/2 - 7%/2);
}

#bunnyeye3{
    left: calc(60% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #292929;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 5px;
    background: url(../images/bunny.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: fuchsia;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}#basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 5px;
    background: url('basket.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: fuchsia;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}
.welcomecontainer{
    background-color: blue;
    color: #fff;
    font-size: 20px;
    font-family:"Bitter", sans-serif;
}


.websitebanner-container{
    background: url(../images/background.jpg) no-repeat center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
----------------------------------------------------Navigation*/
/*Nav Bar*/

.navbar{
    min-height: 80px;
}
/*Adapted from Bootstrapious.com*/

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-brand{
    font-size: 20px;  

}

.navbar-custom{
    margin-bottom: 0;
    border:0;
    width: 100%;
    background-color:#A60639; 
    font-size: 20px;  
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
/*---------------------------------------------------------------*/
.jumbotron {
    background-color: transparent;
}

/*----------------------------------------------------Styling*/


.btn-colour
{
     margin-top: 50px;
     margin-bottom: 50px;
     color:rgb(225, 13, 203);
     background-color:rgba(20, 40, 80, 1);
     border-radius: 0;
}


/*----------------------------------------------------Bootstrap Cards*/
.card-body{
    padding: 0.5rem;
  
}
.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.testimonialcards{
    background-color: rgb(31, 109, 156);
    color: #fff;
    padding-bottom: 30px;
     font-family:"Bitter", sans-serif;

}

.coursecontentcard{
    background-color: rgb(31, 109, 156);
    color: #fff;
}

.coursecontentcard ul li{
    font-family:"Bitter", sans-serif;

}

.careerscontentcard{
    background-color: rgb(58, 11, 106);
    color: #fff;
    
}
.careerscontentcard ul li{
    font-family:"Bitter", sans-serif;

}

.qualificationscontentcard{
    background-color: rgb(161, 40, 73);
    color: #fff;
}
.qualificationscontentcard ul li{
    font-family:"Bitter", sans-serif;

}

/*----------------------------------------------------Banner Text*/
/*  This code was adapted from boostrapcreative.com
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first. "
*/
.bannertext {font-size:1rem;
 font-weight: 100;
     font-family:'Pacifico', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
    
    } /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
 .bannertext {font-size:1.5rem;
  font-weight: 100;
    font-family:"Pacifico", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
   
 
 } /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .bannertext {font-size:2rem;
   font-weight: 100;
    font-family:"Pacifico", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
    } /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .bannertext {font-size:2.5rem;
   font-weight: 100;
    font-family:"Pacifico", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
   } /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .bannertext {font-size:3rem;
   font-weight: 100;
    font-family:"Pacifico", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
   } /*1rem = 16px*/    
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
.bannertext {font-size:2.75rem;
   font-weight: 100;
    font-family:"Pacifico", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
    } 
}
/* footer */
footer{
    background-color:#A60639;
    min-height: 120px;
    margin: 0;
    text-align: center;

  
}

.social-links i{
    font-size: 160%;
    color:#fafafa;
    padding-top:20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.35s ease-in-out;/* transitions*/
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color:	rgb(225, 13, 203);
}